* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  background: url(../imgs/bg.jpg);
  background-size: cover;
}
header {
  position: relative;
  width: 100%;
  height: 55px;
  background: #2196f3;
}
header .title {
  float: left;
  margin-left: 15px;
  line-height: 55px;
  font-size: 22px;
  color: #fff;
}
header .random {
  float: right;
  margin-right: 20px;
  line-height: 55px;
  font-size: 22px;
  color: #fff;
}
